# save 
*.bak
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db
*.pem

# dependencies
node_modules/
vendor/
.pnp
.pnp.js
.yarn/install-state.gz

# production
dist/
build/
bin/

# Fichiers de configuration spécifiques à l'IDE
.idea/
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace
*.xcworkspace
*.swiftpm/
*.user
*.userprefs
*.suo
*.sln.docstates

# Fichiers de package et de verrouillage (dépend du gestionnaire de package utilisé)
package-lock.json
yarn.lock
composer.lock
Gemfile.lock
Pipfile.lock

# log
*.log
npm-debug.log*
yarn-error.log*
npm-debug.log*
yarn-debug.log*

# testing
/coverage

# certificate
*.pem
*.cert
*.key

# local env files
.env
.env.local
.env.*.local

# Fichiers de base de données
*.sqlite
*.sqlite3
*.db

# Dossiers et fichiers de cache
.cache/
*.pyc
__pycache__/

# next.js
/.next/
/out/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts