# Save
*.bak
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/
lib/

# 
dist/
build/
bin/

# IDE
.idea/
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace
*.xcworkspace
*.swiftpm/
*.user
*.userprefs
*.suo
*.sln.docstates

# package
yarn.lock
composer.lock
Gemfile.lock
Pipfile.lock

# log
*.log
npm-debug.log*
yarn-error.log*

# certificat
*.pem
*.cert
*.key

# environnement
.env
.env.local
.env.*.local

# Database
*.sqlite
*.sqlite3
*.db

# Dossiers et fichiers de cache
.cache/
*.pyc
__pycache__/

